*{
    margin: 0px;
    padding: 0px;
}
#intro::before{

    content: "";
    background: url(images/bg-pattern-top-mobile.svg) no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0%;
    top: -46%;

}
#intro{
    flex-direction: column;
    height: 600px;
    
}

#about{
    height: 300px;
    width: 90vw;
    align-items: center;
    text-align: center;
    
    
}

#about h1{
    width: 60vw;
    padding: 20px;
    font-size: 2.1rem;
}

#about p{
    width: 90vw;
    padding: 0 20px 40px;
    
}

 /* ratings box */
 #ratings{
    width: 90vw;
    align-items: center;
    justify-content: center;
 }

.rating-box{
    
    flex-direction: column;
    width: 90vw;
    height: 70px;
    
}

.stars{
    padding: 10px;

}
#box1{
    position: relative;
    left: 0vw;
}
#box2{
    position: relative;
    left: 0;
}

#socialprofile::after{

    content: "";
    background: url(images/bg-pattern-bottom-mobile.svg) no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    height: 79%;
    top: 150%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;

}
#socialprofile{
    flex-direction: column;
    width: 90vw;
    padding:  0 0 50px;
}
.profile-card{
    margin: 0;
    width: 80vw;
}

 #profile_id-1{
     position: relative;
     top: 0px;
 }
 #profile_id-2{
     
    position: relative;
    top:20px;
 }
 #profile_id-3{
    position: relative;
    top: 40px;
}

